{% extends "base.html" %}
{% block content %}
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Tokyo</h3>
                                <p>Pixel perfect design with awesome contents</p>
                                <a href="{% url 'tours:tour_list' %}?region=Tokyo" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Osaka</h3>
                                <p>Pixel perfect design with awesome contents</p>
                                <a href="{% url 'tours:tour_list' %}?region=Osaka" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_3 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Kyoto</h3>
                                <p>Pixel perfect design with awesome contents</p>
                                <a href="{% url 'tours:tour_list' %}?region=Kyoto" class="boxed-btn3">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- slider_area_end -->

    <!-- where_togo_area_start  -->
    <div class="where_togo_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="form_area">
                        <h3>Where you want to go?</h3>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="search_wrap">
                        <form class="search_form" action="/tours">
                            <div class="input_field">
                                <input type="text" placeholder="Where to go?">
                            </div>
                            <div class="input_field">
                                <select name="region">
                                    <option data-display="Region">Region</option>
                                    <option value="Tokyo">Tokyo</option>
                                    <option value="Osaka">Osaka</option>
                                    <option value="Kyoto">Kyoto</option>
                                </select>
                            </div>
                            <div class="input_field">
                                <select name="tourtype">
                                    <option data-display="Travel type">Travel type</option>
                                    <!-- SHOW tour types in search block -->
                                    {% for tourtype in tourtypes %}
                                    <option value="{{ tourtype.id }}">{{ tourtype.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="search_btn">
                                <button class="boxed-btn4 " type="submit" >Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- where_togo_area_end  -->
    
    <!-- popular_destination_area_start  -->
    <div class="popular_destination_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Pick your tours by themes</h3>
                        <p>So many different types of tours!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- SHOW the tour types here -->
                {% for tourtype in tourtypes %}
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{{ tourtype.gen_thumbnail_path }}" alt="{{ tourtype.name }}">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">{{ tourtype.name }} <a href="{% url 'tours:tour_list' %}?tourtype={{tourtype.id}}">  {{ tourtype.tours_count }} Tours</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- popular_destination_area_end  -->

    <div class="popular_places_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Featured Tours</h3>
                        <p>Some descriptions about the featured tours.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- SHOW day tours block -->
                {% for daytour in daytours %}
                <div class="col-lg-4 col-md-6">
                    <div class="single_place">
                        <div class="thumb">
                            <img src="{{ daytour.gen_thumbnail_path }}" alt="">
                            <a href="{% url 'tours:tour_detail' daytour.id %}" class="prise">${{ daytour.tour_price_without_tax }}</a>
                        </div>
                        <div class="place_info">
                            <a href="{% url 'tours:tour_detail' daytour.id %}"><h3>{{ daytour.name }}</h3></a>
                            <p>{{ daytour.region }}</p>
                            <div class="rating_days d-flex justify-content-between">
                                <span class="d-flex justify-content-center align-items-center">
                                     {% for star in daytour.get_review_score %}
                                     <i class="fa {{ star }}"></i>
                                     {% endfor %}
                                     <a href="{% url 'tours:tour_detail' daytour.id %}">
                                     ({{ daytour.get_review_count }} Review)
                                     </a>
                                </span>
                                <div class="days">
                                    <i class="fa fa-clock-o"></i>
                                    <a href="{% url 'tours:tour_detail' daytour.id %}">{{ daytour.duration }} Hours</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="more_place_btn text-center">
                        <a class="boxed-btn4" href="{% url 'tours:tour_list' %}">More Tours</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    